@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), local("Poppins-Light"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6bxrup");
  src: url("../fonts/icomoon.eot?6bxrup#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6bxrup") format("truetype"), url("../fonts/icomoon.woff?6bxrup") format("woff"), url("../fonts/icomoon.svg?6bxrup#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'star';
  src: url("../fonts/star.eot?6bxrup");
  src: url("../fonts/star.eot?6bxrup#iefix") format("embedded-opentype"), url("../fonts/star.ttf?6bxrup") format("truetype"), url("../fonts/star.woff?6bxrup") format("woff"), url("../fonts/star.svg?6bxrup#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

input, textarea, button {
  font-family: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  color: #5B5B5B;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1420px;
  padding: 0 20px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.none {
  display: none;
}

@media (hover: none) {
  *:hover {
    pointer-events: none;
  }
}

.logo {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  line-height: 0.75;
  color: #fff;
  position: relative;
}

.logo::after {
  font-family: icomoon;
  content: "\e908";
  position: absolute;
  top: -8px;
  right: -20px;
  font-size: initial;
  font-weight: initial;
  color: #5243C2;
}

.logo_footer {
  color: #161414;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #161414;
}

.title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .title {
    text-align: center;
    margin-bottom: 32px;
  }
  .title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__title {
  font-size: 18px;
  font-weight: 500;
  color: #161414;
  margin-bottom: 20px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7B61FF;
  color: #fff;
  border-radius: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.button::before, .button::after {
  font-family: icomoon;
  font-size: initial;
  font-weight: initian;
}

.button:hover {
  background: #F6F4FF;
  color: #5243C2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.more-button {
  display: inline-block;
  height: 44px;
  padding: 0 10px;
  border-radius: 12px;
  background: #F6F4FF;
  color: #5243C2;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.more-button::after {
  font-family: icomoon;
  content: "\e901";
  margin-left: 7px;
}

.more-button:hover {
  background: #7B61FF;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.label {
  display: inline-block;
  height: 72px;
  position: relative;
  text-align: left;
}

.label:hover .placeholder__prompt {
  display: block;
}

.input {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
}

.input:focus + .placeholder, .input:not(:placeholder-shown) + .placeholder {
  display: none;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 56px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.placeholder::before {
  font-family: icomoon;
  color: #FFA800;
  content: "\e907";
  position: absolute;
  left: -19px;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.placeholder__label {
  font-size: 14px;
  font-weight: 300;
}

.placeholder__prompt {
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: #161414;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotels .card {
  min-width: 260px;
  max-width: 320px;
  padding-bottom: 66px;
  position: relative;
  overflow: hidden;
}

.hotels .card__img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
  overflow: hidden;
}

.hotels .card__img img {
  width: 100%;
}

.hotels .card__title {
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #161414;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

.hotels .card__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotels .card__location {
  font-size: 13px;
  color: #979797;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotels .card__location::before {
  font-family: icomoon;
  content: "\e907";
  margin-right: 6px;
}

.hotels .card__star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -1px;
}

.star {
  padding: 0 1px;
  font-family: star;
  color: #FFA800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.star::before {
  content: "\e900";
}

.star.fill::before {
  content: "\e901";
}

.destinations .card {
  min-width: 180px;
  max-width: 203px;
}

.destinations .card__img {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 8px;
}

.destinations .card__img img {
  width: 100%;
}

.destinations .card__title {
  font-size: 16px;
  font-weight: 500;
  color: #161414;
}

.destinations .card__location {
  font-size: 13px;
  color: #979797;
}

.travel .card {
  min-width: 260px;
  max-width: 672px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel .card__img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  min-width: 240px;
  max-width: 320px;
  border-radius: 24px;
  overflow: hidden;
  margin-right: 32px;
}

.travel .card__img img {
  width: 100%;
}

.travel .card__body {
  min-width: 240px;
  max-width: 320px;
  padding-bottom: 32px;
  position: relative;
}

.travel .card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #161414;
}

.travel .card__text {
  font-size: 16px;
  line-height: 2;
  color: #5B5B5B;
}

.travel .card__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 13px;
  color: #979797;
}

.travel .card__bottom > *:not(:last-child) {
  margin-right: 25px;
}

.travel .card__date::before {
  font-family: icomoon;
  content: "\e907";
  margin-right: 6px;
}

.travel .card__person::before {
  font-family: icomoon;
  content: "\e90b";
  margin-right: 6px;
}

.travel .card__messages::before {
  font-family: icomoon;
  content: "\e90a";
  margin-right: 6px;
}

.activities .card {
  min-width: 200px;
  max-width: 320px;
}

.activities .card__img {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
}

.activities .card__img img {
  width: 100%;
}

.activities .card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #161414;
}

.header {
  width: 100%;
  font-size: 14px;
  position: absolute;
  top: 30px;
}

.header__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -27px;
}

.header .menu__item {
  padding: 27px;
}

.header .menu__item a {
  color: #ffffffb3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .menu__item a:hover {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .header .menu__list {
    margin: -15px;
  }
  .header .menu__item {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .header .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -5px;
  }
  .header .menu__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    padding: 5px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header .menu {
    position: fixed;
    z-index: 5;
    top: 0;
    right: -60vw;
    background: #000;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header .menu.active {
    right: 0;
  }
  .header .menu__list {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 60vw;
  }
  .header .menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 0;
    font-size: 16px;
  }
  .header .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .header .menu__item a {
    color: #fff;
  }
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  position: relative;
}

.user__greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-right: 8px;
}

.user__hola {
  color: #ffffff80;
}

.user__name {
  color: #fff;
}

.user__avatar {
  min-width: 40px;
  min-height: 40px;
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.user__avatar img {
  width: 100%;
}

.user__online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FF0000;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .user {
    margin-right: 40px;
  }
}

.burger {
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: fixed;
  right: 10px;
  z-index: 6;
}

.burger__line {
  position: relative;
}

.burger__line, .burger__line::before, .burger__line::after {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: #000 0.5px 0.5px 0.5px;
          box-shadow: #000 0.5px 0.5px 0.5px;
}

.burger__line::before, .burger__line::after {
  content: "";
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.burger__line::before {
  top: -10px;
}

.burger__line::after {
  bottom: -10px;
}

.burger.active .burger__line {
  height: 0;
}

.burger.active .burger__line::before {
  top: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.burger.active .burger__line::after {
  bottom: 0;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.burger.active .burger__line, .burger.active .burger__line::before, .burger.active .burger__line::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.discover {
  padding: 260px 0 100px;
  background: url("../img/discover_bg.jpg") center center/cover no-repeat;
  text-align: center;
}

.discover__title {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 32px;
}

.discover__button {
  height: 72px;
  padding: 0 25px;
  margin-bottom: 184px;
  font-size: 18px;
  font-weight: 600;
}

.discover__button::before {
  content: "\e904";
  font-weight: initial;
  margin-right: 10px;
}

.discover .form {
  padding: 8px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 12px;
}

.discover .form__button {
  height: 60px;
  width: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.discover .form__button::after {
  content: "\e90c";
  font-size: 24px;
}

.discover .form__button span {
  display: none;
  font-size: 18px;
  font-weight: 600;
}

.discover .label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.discover .location .placeholder::before {
  content: "\e907";
}

.discover .activity .placeholder::before {
  content: "\e900";
}

.discover .when .placeholder::before {
  content: "\e90e";
}

.discover .guests .placeholder::before {
  content: "\e905";
}

@media (max-width: 992px) {
  .discover {
    padding: 160px 0 100px;
  }
  .discover__title {
    font-size: 34px;
  }
  .discover__button {
    margin-bottom: 100px;
  }
  .discover .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .discover .form__button {
    width: auto;
    padding: 0 20px;
  }
  .discover .form span {
    display: block;
    margin-right: 10px;
  }
  .discover .label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 576px) {
  .discover {
    padding: 120px 0 80px;
  }
  .discover__button {
    margin-bottom: 80px;
  }
  .discover .label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.destinations {
  padding-top: 120px;
}

.destinations__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -16px;
}

.destinations__card {
  padding: 16px;
}

@media (max-width: 992px) {
  .destinations__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .destinations {
    padding-top: 60px;
  }
}

.hotels {
  padding-top: 120px;
}

.hotels__row {
  margin: -16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hotels__col {
  padding: 16px;
}

.hotels__card {
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .hotels__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .hotels {
    padding-top: 60px;
  }
}

.travel {
  padding-top: 120px;
}

.travel__row {
  margin: -16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travel__col {
  padding: 16px;
}

.travel__card {
  height: 100%;
}

@media (max-width: 1200px) {
  .travel__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .travel {
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .travel__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .travel__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .travel .card__img {
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

.activities {
  padding-top: 120px;
}

.activities__row {
  margin: -16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activities__col {
  padding: 16px;
}

@media (max-width: 992px) {
  .activities__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .activities {
    padding-top: 60px;
  }
}

.about {
  padding: 120px 0 120px;
}

.about__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__body {
  min-width: 260px;
  max-width: 556px;
  margin-right: 16px;
}

.about__title {
  margin-bottom: 32px;
}

.about__text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 2;
}

.about__img {
  min-width: 260px;
  max-width: 556px;
  border-radius: 24px;
  overflow: hidden;
}

.about__img img {
  width: 100%;
}

@media (max-width: 992px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__body {
    margin: 0;
    margin-bottom: 32px;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 60px 0 60px;
  }
}

.footer {
  padding: 120px 0 120px;
  background: #F9F9F9;
}

.footer__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -16px;
}

.footer__row > * {
  padding: 16px;
}

.footer__logo {
  color: #161414;
  margin-bottom: 32px;
}

.footer .description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 355px;
          flex: 1 1 355px;
  max-width: 355px;
}

.footer .description__text {
  font-size: 13px;
  margin-bottom: 32px;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social {
  width: 32px;
  height: 32px;
  font-family: icomoon;
  color: #5243C2;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social:not(:last-child) {
  margin-right: 32px;
}

.footer .facebook::before {
  content: "\e903";
}

.footer .twitter::before {
  content: "\e90d";
}

.footer .instagram::before {
  content: "\e906";
}

.footer .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 505px;
          flex: 1 1 505px;
  max-width: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -16px;
}

.footer .menu__list {
  padding: 16px;
}

.footer .menu__item {
  white-space: nowrap;
  font-size: 13px;
}

.footer .menu__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer .subscribe {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 388px;
          flex: 1 1 388px;
  max-width: 388px;
}

.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .form__button {
  width: 72px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer .form__button::before {
  content: "\e902";
}

.footer .label {
  display: block;
}

@media (max-width: 992px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__description, .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 0 60px;
  }
  .footer__description {
    text-align: center;
  }
  .footer .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__menu {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

@media (max-width: 576px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */