*
    margin: 0
    padding: 0
    border: none
    outline: none

*, *::before, *::after
    box-sizing: border-box

*:focus,*:active,a:focus,a:active
    outline: none

ul, ol , li
    list-style: none

a
    text-decoration: none
    font: inherit
    color: inherit

a,a:visited,a:hover
    text-decoration: none

img
    vertical-align: top

input,button,textarea
    font-family: inherit

input::-ms-clear
    display: none
