//Text colors

$primaryTextColor: #5B5B5B

$titlesColor: #161414

$cardBottomText: #979797

//Border radiuses  

$primaryBorderRadius: 12px

$additionalBorderRadius: 24px

//Indents

$sectionIndent: 120px
