.logo
    display: inline-block
    font-size: 25px
    font-weight: 600
    line-height: 0.75
    color: #fff
    position: relative
    &::after
        font-family: icomoon
        content: "\e908"
        position: absolute
        top: -8px
        right: -20px
        font-size: initial
        font-weight: initial
        color: #5243C2
    &_footer
        color: $titlesColor
