<!-- ----- Hotels card ----- -->

<div class="card hotels__card">
    <div class="card__img">
        <img src="img/hotels1.jpg" alt="">
    </div>
    <h3 class="card__title">Monastero Santa Rosa Hotel & Spa</h3>
    <div class="card__bottom">
        <p class="card__location">Salerno, Italy</p>
        <div class="card__star-rating">
            <div class="star fill"></div>
            <div class="star fill"></div>
            <div class="star fill"></div>
            <div class="star fill"></div>
            <div class="star fill"></div>
        </div>
    </div>
</div>

<!-- -------------------------------------------------------- -->

<!-- ----- Destinations card ----- -->

<div class="card destinations__card">
    <div class="card__img">
        <img src="img/destinations1.jpg" alt="">
    </div>
    <h3 class="card__title">Name</h3>
    <p class="card__location">Where</p>
</div>

<!-- -------------------------------------------------------- -->

<!-- ----- Travel card ----- -->

<div class="card travel__card">
    <div class="card__img">
        <img src="img/travel1.jpg" alt="">
    </div>
    <div class="card__body">
        <h3 class="card__title">East Village Ice Cream Crawl</h3>
        <p class="card__text">
            We will stop at five different world-class ice cream shops on this 1.5 mile 1.5 hour tour. At each ice cream
            store we'll explore the story behind the business and see what makes the ice cream unique as you savor
            every…
        </p>
        <div class="card__bottom">
            <div class="card__date">Today</div>
            <div class="card__person">Maria Philips</div>
            <div class="card__messages">2</div>
        </div>
    </div>
</div>

<!-- -------------------------------------------------------- -->

<!-- ----- Activities card ----- -->

<div class="card activities__card">
    <div class="card__img">
        <img src="img/activities1.jpg" alt="">
    </div>
    <h3 class="card__title">Sailing</h3>
</div>

<!-- -------------------------------------------------------- -->

<!-- ----- Input ----- -->

<label for="activity-input" class="label">
    <input type="text" class="input" id="activity-input" placeholder=" ">
    <div class="placeholder">
        <div class="placeholder__label">Activity</div>
        <div class="placeholder__prompt">All Activities</div>
    </div>
</label>

<!-- -------------------------------------------------------- -->