.activities
    padding-top: $sectionIndent
    &__row
        margin: -16px
        justify-content: center
    &__col
        padding: 16px
    @media ( max-width: 992px )
        &__row
            flex-wrap: wrap
    @media ( max-width: 768px )
        &
            padding-top: $sectionIndent/2
