.destinations
    padding-top: $sectionIndent
    &__row
        justify-content: center
        margin: -16px
    &__card
        padding: 16px
    @media ( max-width: 992px )
        &
            &__row
                flex-wrap: wrap
            &__card
                //flex: 1 1 33%
    @media ( max-width: 768px )
        &
            padding-top: $sectionIndent/2
            &__card
                //flex: 1 1 25%
