.discover
    padding: 260px 0 100px
    background: url('../img/discover_bg.jpg') center (center/cover) no-repeat
    text-align: center
    &__title
        font-size: 48px
        font-weight: 600
        color: #fff
        margin-bottom: 32px
    &__button
        height: 72px
        padding: 0 25px
        margin-bottom: 184px
        font-size: 18px
        font-weight: 600
        &::before
            content: "\e904"
            font-weight: initial
            margin-right: 10px

    .form
        padding: 8px 14px
        display: flex
        align-items: center
        background: #fff
        border-radius: $primaryBorderRadius
        &__button
            height: 60px
            width: 60px
            flex-shrink: 0
            &::after
                content: "\e90c"
                font-size: 24px
            span
                display: none
                font-size: 18px
                font-weight: 600

    .label
        flex: 1 1 auto

    .location
        //flex: 1 1 300px
        .placeholder
            &::before
                content: "\e907"
    .activity
        .placeholder
            &::before
                content: "\e900"
    .when
        .placeholder
            &::before
                content: "\e90e"
    .guests
        .placeholder
            &::before
                content: "\e905"
    @media ( max-width: 992px )
        &
            padding: 160px 0 100px
            &__title
                font-size: 34px
            &__button
                margin-bottom: 100px
            .form
                flex-wrap: wrap
                justify-content: center
                &__button
                    width: auto
                    padding: 0 20px
                span
                    display: block
                    margin-right: 10px
            .label
                flex: 1 1 50%
    @media ( max-width: 576px )
        &
            padding: 120px 0 80px
            &__button
                margin-bottom: 80px
            .label
                flex: 1 1 100%
