.footer
    padding: $sectionIndent 0 $sectionIndent
    background: #F9F9F9
    &__row
        justify-content: space-between
        margin: -16px
        & > *
            padding: 16px
    &__logo
        color: $titlesColor
        margin-bottom: 32px

    .description
        flex: 1 1 355px
        max-width: 355px
        &__text
            font-size: 13px
            margin-bottom: 32px

    .socials
        display: flex

    .social
        width: 32px
        height: 32px
        //border: #000 1px solid
        font-family: icomoon
        color: #5243C2
        font-size: 28px
        display: flex
        justify-content: center
        align-items: center
        &:not(:last-child)
            margin-right: 32px

    .facebook
        &::before
            content: "\e903"

    .twitter
        &::before
            content: "\e90d"

    .instagram
        &::before
            content: "\e906"

    .menu
        flex: 1 1 505px
        max-width: 505px
        display: flex
        justify-content: space-between
        margin: -16px
        &__list
            padding: 16px
        &__item
            white-space: nowrap
            font-size: 13px
            &:not(:last-child)
                margin-bottom: 12px

    .subscribe
        flex: 1 1 388px
        max-width: 388px

    .form
        display: flex
        &__button
            width: 72px
            height: 72px
            flex-shrink: 0
            &::before
                content: "\e902"

    .label
        display: block

    @media ( max-width: 992px )
        &
            &__row
                justify-content: center
                flex-wrap: wrap
            &__description, &__menu
                flex: 1 1 50%
            &__menu
                order: 2

    @media ( max-width: 768px )
        &
            padding: $sectionIndent/2 0 $sectionIndent/2
            &__description
                text-align: center
            .socials
                justify-content: center
            &__menu
                order: initial

    @media ( max-width: 576px )
        &
            &__menu
                flex-direction: column
                align-items: center
