.hotels
    padding-top: $sectionIndent
    &__row
        margin: -16px
        justify-content: center
    &__col
        padding: 16px
    &__card
        height: 100%
        margin: 0 auto
    @media ( max-width: 1200px )
        &
            &__row
                flex-wrap: wrap
            &__col
                //flex: 1 1 50%
    @media ( max-width: 768px )
        &
            padding-top: $sectionIndent/2
